<div class="modal-header">
  <h4 class="modal-title">Criar Campo</h4>
  <button type="button" class="close" aria-label="Close"
   (click)="activeModal.dismiss('Cross click')">
  </button>
</div>
<form [formGroup]="formCreateField" (ngSubmit)="submitForm()" id="formCreateField" class="justify-content-center">
  <div class="modal-body">
    <div class="container">

      <div class="form-group">
        <label for="nameField" class="col-sm-4 col-form-label col-form-label-sm" >Nome do Campo</label>
        <input type="text"
          class="form-control"
          id="nameField"
          formControlName="nameField" />
      </div>

      <div class="form-group">
        <label for="typeField" class="col-sm-4 col-form-label col-form-label-sm" >Tipo do Campo</label>
        <select formControlName="typeField" id="typeField" class="form-control">
          <option disabled>Selecione o tipo do Campo</option>
          <option *ngFor="let typeField of typeFields">{{typeField}}</option>
        </select>
      </div>


      <div class="form-group row">
        <div  class="col-sm-4 col-form-label col-form-label-sm" >Campo livre</div>
        <div class="col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" formControlName="writingFree" (change)="writingFree = !writingFree"
              id="writingFree" />
            <label class="col-sm-4 col-form-label col-form-label-sm"  for="writingFree">
            </label>
          </div>
        </div>
      </div>



      <div class="form-group row">
        <div  class="col-sm-4 col-form-label col-form-label-sm" >Habilitar Selecionar Vários</div>
        <div class="col-sm-6">
          <div class="form-check">
            <input class="form-check-input" type="checkbox"  formControlName="canMultipleSelect" (change)="canMultipleSelect = !canMultipleSelect" id="canMultipleSelect" />
            <label  class="col-sm-4 col-form-label col-form-label-sm"  for="canMultipleSelect">
            </label>
          </div>
        </div>
      </div>


      <div class="form-group">
        <label for="nameField" class="col-sm-4 col-form-label col-form-label-sm">Adicionar Item</label>
        <input type="text"
          class="form-control"
          formControlName="item"
          [(ngModel)]="formCreateField.item"
          [value]="contentItem"
          />

          <button
          type="button"
          (click)="addItem()"
          class="btn btn-primary"
          >+</button>

          <ul>
            <li *ngFor="let item of items">
              {{ item }}
            </li>
          </ul>
      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success"
      type="submit"
      [disabled]="!formCreateField.valid"
      >
      Salvar
    </button>
  </div>
</form>